/*SilverLight skin. default*/ /* Appearance calendar standart view */
.dhtmlxcalendar {
	background: url(imgs/cal_bg_single.gif) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index: 99;
	height: 178px;
	padding: 16px;
	width: 146px;
}

/* Style for iframe (must have same values as real dimensions of calendar) */
.dhtmlxcalendar_ifr,.dhtmlxcalendar_mini_ifr,.dhtmlxcalendar_maxi_ifr,.dhtmlxcalendar_long_ifr
	{
	height: 176px;
	width: 178px;
}

.dhtmlxcalendar_maxi_ifr {
	height: 176px;
}

/* Appearance for calendar with time */
.dhtmlxcalendar_long {
	background: url(imgs/cal_bg_single_long.gif) no-repeat;
	height: 190px;
}

.dhtmlxcalendar_long_ifr {
	height: 190px;
}

/* Appearance minimized maximized */
.dhtmlxcalendar_mini {
	background: url(imgs/cal_bg_single_mini.gif) no-repeat;
	height: 25px;
	width: 146px;
}

.dhtmlxcalendar_mini_ifr {
	height: 25px;
}

/* Appearance header of calendar in minimized view */
.dhtmlxcalendar_mini .header {
	margin-top: 0px;
	-moz-user-select: none;
}

/* Appearance header of calendar in standard view */
.dhtmlxcalendar .header {
	margin-top: -12px;
	height: 13px;
	-moz-user-select: none;
}

/* Appearance header title */
.dhtmlxcalendar .winTitle {
	color: black;
	font-size: 11px;
	float: left;
	cursor: move;
}

/* Common appearance headers buttons */
.dhtmlxcalendar .btn,.btn_mini,.btn_close,.btn_today,.btn_clear {
	float: right;
	height: 12px;
	width: 13px;
}

/* Button mini */
.dhtmlxcalendar .btn_mini {
	background: url(imgs/btn_mini.gif) no-repeat;
}

/* Button mini in minimized view */
.dhtmlxcalendar_mini .btn_mini {
	background: url(imgs/btn_maxi.gif) no-repeat;
}

/* Button close*/
.dhtmlxcalendar .btn_close {
	background: url(imgs/btn_close.gif) no-repeat;
}

/* Button today */
.dhtmlxcalendar .btn_today {
	background: url(imgs/btn_today.gif) no-repeat;
}

/* Button clear */
.dhtmlxcalendar .btn_clear {
	background: url(imgs/btn_clear.gif) no-repeat;
}

/* Calendar body */
.dhtmlxcalendar .entbox {
	width: 145px;
	clear: both;
}

/* Common style for each cell of calendar */
.dhtmlxcalendar td {
	font-size: 10px;
	font-family: Tahoma;
	text-align: center;
}

.dhtmlxcalendar .dxcalmonth {
	
}

/* Month left button */
.dhtmlxcalendar .dxcalmonth td.month_btn_left,.dhtmlxcalendar .dxcalmonth td.month_btn_right
	{
	background: transparent url(imgs/cal_arrow_bwd.gif) center center
		no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}

/* Month right button */
.dhtmlxcalendar .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/cal_arrow_fwd.gif) center center
		no-repeat;
}

.dhtmlxcalendar .dxcalmonth td.month_btn_left span,.dhtmlxcalendar .dxcalmonth td.month_btn_right span
	{
	visibility: hidden;
}

/* Appearance months shorts labels */
.dhtmlxcalendar .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
	color: #7e7e7e;
	border-top: 0px;
	padding-left: 2px;
}

/* Common styles for months and days labels */
.dhtmlxcalendar .dxcaldlabel td,.dhtmlxcalendar .dxcaldays td,.dhtmlxcalendar .dxcaldays_ie td
	{
	font-size: 10px;
	font-family: Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	color: #7e7e7e;
}

/* Appearance days */
.dhtmlxcalendar .dxcaldays td,.dhtmlxcalendar .dxcaldays_ie td {
	border: 0px;
	cursor: pointer;
}

/* Appearance days for IE */
.dhtmlxcalendar .dxcaldays_ie td {
	height: 16px;
}

/* Comma between month and year */
.dhtmlxcalendar td.comma {
	visibility: visible;
}

/* Common style for month and year labels */
.dhtmlxcalendar div.planeMonth,.dhtmlxcalendar div.planeYear {
	height: auto;
	overflow: auto;
}

/* Appearance year */
div.dhtmlxcalendar div.planeYear {
	display: inline;
	width: 28px;
}

/* begin: days colors */ /* Days of this month */
.dhtmlxcalendar td.thismonth {
	color: black;
	padding: 1px;
}

/* Days of other months */
.dhtmlxcalendar td.othermonth {
	visibility: hidden;
}

/* Weekend */
.dhtmlxcalendar td.weekend {
	color: #a70000;
	padding: 1px;
}

/* Insensitive days*/
.dhtmlxcalendar td.insensitive {
	color: #b5b5b5;
	cursor: default;
	padding: 1px;
}

/* Selected day */
.dhtmlxcalendar td.selected {
	background-color: #36b1df;
	color: white !important;
}

/* Current day */
.dhtmlxcalendar td.current {
	font-weight: bold !important;
	color: black;
}

/* Hovered day */
.dhtmlxcalendar td.hover {
	border: 1px solid #b5b5b5;
	color: #000000;
	padding: 0px;
}

/* Holidays */
.dhtmlxcalendar td.holiday {
	font-weight: bold;
	color: #a70000;
}

/* end: silverlight */ /* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar {
	background: url(imgs/cal_bg_double.gif) no-repeat;
	z-index: 100;
	padding: 0px;
}

.dhtmlxdblcalendar .dhtmlxcalendar {
	background-image: url(imgs/blank.gif);
}

/* end: dhtmlxDblCalendarObject */ /* begin: dhtmlxRichSelector */
.dhtmlxcalendar div.dhtmlxRichSelector {
	position: relative;
	background-color: #ffffff;
	display: block;
	width: 1px;
	height: 1px;
}

.dhtmlxcalendar textarea.dhtmlxRichSelector,.dhtmlxcalendar select.dhtmlxRichSelector
	{
	font-family: verdana;
	position: absolute;
	font-size: 9px;
	overflow: hidden;
	border-width: 0px;
	z-index: 100;
	left: 0px;
	top: 0px;
}

.dhtmlxcalendar select.dhtmlxRichSelector {
	border: 1px solid #555555;
}

/* end: dhtmlxRichSelector */
	/*===================================================================================================*/
	/***
*	vista style
*/
.dhtmlxcalendar_vista {
	background: url(imgs/__dhxCal_skin_Vista/cal_bg_single.png) no-repeat;
	border: 0px solid green;
	font-family: Arial;
	z-index: 99;
	height: 163px;
	width: 163px;
	padding: 16px;
}

.dhtmlxcalendar_vista_mini {
	background: url(imgs/__dhxCal_skin_Vista/cal_bg_single_mini.gif)
		no-repeat;
	height: 25px;
	padding-top: 16px;
	width: 163px;
}

.dhtmlxcalendar_vista_maxi {
	height: 163px;
}

.dhtmlxcalendar_vista_ifr,.dhtmlxcalendar_vista_mini_ifr,.dhtmlxcalendar_vista_maxi_ifr
	{
	height: 195px;
	width: 195px;
}

.dhtmlxcalendar_vista_mini_ifr {
	height: 34px;
}

.dhtmlxcalendar_vista_mini .header {
	-moz-user-select: none;
}

.dhtmlxcalendar_vista .header {
	height: 13px;
	margin-top: -5px;
	margin-bottom: 3px;
	width: 168px;
	-moz-user-select: none;
}

.dhtmlxcalendar_vista .winTitle {
	color: #018ad1;
	font-size: 12px;
	float: left;
	cursor: move;
	width: 100px;
	margin-top: -1px;
	overflow: hidden;
}

.dhtmlxcalendar_vista .btn,.btn_mini,.btn_close,.btn_today,.btn_clear {
	float: right;
	height: 12px;
	width: 13px;
}

.dhtmlxcalendar_vista .btn_mini {
	background: url(imgs/__dhxCal_skin_Vista/btn_mini.gif) no-repeat;
}

.dhtmlxcalendar_vista_mini .btn_mini {
	background: url(imgs/__dhxCal_skin_Vista/btn_maxi.gif) no-repeat;
}

.dhtmlxcalendar_vista .btn_close {
	background: url(imgs/__dhxCal_skin_Vista/btn_close.gif) no-repeat;
}

.dhtmlxcalendar_vista .btn_today {
	background: url(imgs/__dhxCal_skin_Vista/btn_today.gif) no-repeat;
}

.dhtmlxcalendar_vista .btn_clear {
	background: url(imgs/__dhxCal_skin_Vista/btn_clear.gif) no-repeat;
}

.dhtmlxcalendar_vista .entbox {
	height: 163px;
	width: 163px;
}

.dhtmlxcalendar_vista td {
	font-size: 10px;
	font-family: Tahoma;
	text-align: center;
}

.dhtmlxcalendar_vista .dxcalmonth {
	color: #018ad1;
}

.dhtmlxcalendar_vista .dxcalmonth td {
	font-size: 12px;
	font-weight: bold;
}

.dhtmlxcalendar_vista .dxcalmonth .planeYear {
	margin-left: 4px;
}

.dhtmlxcalendar_vista .dxcalmonth td.month_btn_left,.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right
	{
	background: transparent url(imgs/__dhxCal_skin_Vista/bwd_arrow.png)
		center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}

.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_Vista/fwd_arrow.png)
		center center no-repeat;
}

.dhtmlxcalendar_vista .dxcalmonth td.month_btn_left span,.dhtmlxcalendar_vista .dxcalmonth td.month_btn_right span
	{
	visibility: hidden;
}

.dhtmlxcalendar_vista .dxcaldlabel {
	border-bottom: 1px solid #7e7e7e;
	color: #7e7e7e;
	margin-top: 5px;
}

.dhtmlxcalendar_vista .dxcaldlabel td,.dhtmlxcalendar_vista .dxcaldays td,.dhtmlxcalendar_vista .dxcaldays_ie td
	{
	font-size: 11px;
	font-family: Tahoma;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	width: 24px;
	height: 21px;
	color: #7e7e7e;
}

.dhtmlxcalendar_vista .dxcaldlabel {
	border-top: 0px;
}

.dhtmlxcalendar_vista .dxcaldlabel td {
	color: black;
}

.dhtmlxcalendar_vista .dxcaldays td,.dhtmlxcalendar_vista .dxcaldays_ie td
	{
	border: 0px;
	text-align: center;
	cursor: pointer;
	height: 19px;
}

.dhtmlxcalendar_vista .dxcaldays_ie td {
	height: 16px;
}

.dhtmlxcalendar_vista td.comma {
	visibility: visible;
}

.dhtmlxcalendar_vista div.planeMonth,.dhtmlxcalendar_vista div.planeYear
	{
	height: auto;
	overflow: auto;
}

div.dhtmlxcalendar_vista div.planeYear {
	display: inline;
	width: auto;
}

/* begin: days colors */
.dhtmlxcalendar_vista td.thismonth {
	color: black;
	padding: 1px;
	width: 24px;
}

.dhtmlxcalendar_vista td.othermonth {
	visibility: visible;
}

.dhtmlxcalendar_vista td.weekend {
	color: black;
	padding: 1px;
}

.dhtmlxcalendar_vista td.insensitive {
	color: #b5b5b5;
	cursor: default;
	padding: 1px;
}

.dhtmlxcalendar_vista td.selected {
	background: url(imgs/__dhxCal_skin_Vista/cell_select.png) center center
		no-repeat;
	color: black !important;
}

.dhtmlxcalendar_vista td.current {
	color: black;
	font-weight: bold !important;
}

.dhtmlxcalendar_vista td.hover {
	background: url(imgs/__dhxCal_skin_Vista/cell_hover.png) center center
		no-repeat;
	color: #000000;
}

.dhtmlxcalendar_vista td.holiday {
	font-weight: bold;
	text-decoration: underline;
	color: #000;
}

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_vista div.dhtmlxRichSelector {
	position: relative;
	background-color: #ffffff;
	display: block;
	width: 1px;
	height: 1px;
}

.dhtmlxcalendar_vista textarea.dhtmlxRichSelector,.dhtmlxcalendar_vista select.dhtmlxRichSelector
	{
	position: absolute;
	font-family: Arial;
	font-size: 10pt;
	overflow: hidden;
	border-width: 0px;
	z-index: 100;
	left: 0px;
	top: 0px;
}

.dhtmlxcalendar_vista select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}

/* end: dhtmlxRichSelector */ /* end: vista */
	/*======================================================================================*/
	/*dhx_black skin.*/
.dhtmlxcalendar_dhx_black {
	background: url(imgs/__dhxCal_skin_Black/cal_bg_single.png) no-repeat;
	font-family: Arial;
	z-index: 99;
	height: 173px;
	padding: 14px 10px 0px 8px;
	width: 161px;
}

.dhtmlxcalendar_dhx_black_mini {
	background: url(imgs/__dhxCal_skin_Black/cal_bg_single_mini.gif)
		no-repeat;
	height: 25px;
	padding-top: 14px;
	width: 161px;;
}

.dhtmlxcalendar_dhx_black_maxi {
	background: url(imgs/__dhxCal_skin_Black/cal_bg_single_maxi.gif)
		no-repeat;
	height: 185px;
}

.dhtmlxcalendar_dhx_black_ifr,.dhtmlxcalendar_dhx_black_mini_ifr,.dhtmlxcalendar_dhx_black_maxi_ifr
	{
	height: 173px;
	width: 179px;
}

.dhtmlxcalendar_dhx_black_mini_ifr {
	height: 25px;
}

.dhtmlxcalendar_dhx_black_maxi_ifr {
	height: 185px;
}

.dhtmlxcalendar_dhx_black_mini .header {
	-moz-user-select: none;
}

.dhtmlxcalendar_dhx_black .header {
	height: 13px;
	margin-top: -7px;
	margin-bottom: 7px;
	-moz-user-select: none;
}

.dhtmlxcalendar_dhx_black .winTitle {
	color: #b2b2b2;
	font-size: 12px;
	float: left;
	cursor: move;
	width: 105px;
	margin-top: -2px;
	overflow: hidden;
}

.dhtmlxcalendar_dhx_black .btn,.btn_mini,.btn_close,.btn_today,.btn_clear
	{
	float: right;
	height: 12px;
	width: 13px;
}

.dhtmlxcalendar_dhx_black .btn_mini {
	background: url(imgs/__dhxCal_skin_Black/btn_mini.gif) no-repeat;
}

.dhtmlxcalendar_dhx_black_mini .btn_mini {
	background: url(imgs/__dhxCal_skin_Black/btn_maxi.gif) no-repeat;
}

.dhtmlxcalendar_dhx_black .btn_close {
	background: url(imgs/__dhxCal_skin_Black/btn_close.gif) no-repeat;
}

.dhtmlxcalendar_dhx_black .btn_today {
	background: url(imgs/__dhxCal_skin_Black/btn_today.gif) no-repeat;
}

.dhtmlxcalendar_dhx_black .btn_clear {
	background: url(imgs/__dhxCal_skin_Black/btn_clear.gif) no-repeat;
}

.dhtmlxcalendar_dhx_black .entbox {
	width: 161px;
	clear: both;
}

.dhtmlxcalendar_dhx_black td {
	font-size: 11px;
	font-family: Tahoma;
	text-align: center;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td {
	color: #ffd028;
	font-weight: bold;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_left,.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_right
	{
	background: transparent url(imgs/__dhxCal_skin_Black/cal_arrow_bwd.gif)
		center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_Black/cal_arrow_fwd.gif)
		center center no-repeat;
}

.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_left span,.dhtmlxcalendar_dhx_black .dxcalmonth td.month_btn_right span
	{
	visibility: hidden;
}

.dhtmlxcalendar_dhx_black .dxcaldlabel {
	border-bottom: 1px solid #fff;
	border-top: 0px;
	padding-left: 2px;
	margin-top: 4px;
}

.dhtmlxcalendar_dhx_black .dxcaldays {
	margin-top: 10px;
}

.dhtmlxcalendar_dhx_black .dxcaldays_ie {
	width: 161px;
	margin-top: 13px;
}

.dhtmlxcalendar_dhx_black .dxcaldlabel td,.dhtmlxcalendar_dhx_black .dxcaldays td,.dhtmlxcalendar_dhx_black .dxcaldays_ie td
	{
	color: #fff;
	font-size: 11px;
	font-family: Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 17px;
}

.dhtmlxcalendar_dhx_black .dxcaldays td,.dhtmlxcalendar_dhx_black .dxcaldays_ie td
	{
	border: 0px;
	cursor: pointer;
	color: #fff;
}

.dhtmlxcalendar_dhx_black .dxcaldays_ie td {
	height: 15px;
}

.dhtmlxcalendar_dhx_black td.comma {
	visibility: visible;
	padding-right: 3px;
}

.dhtmlxcalendar_dhx_black div.planeMonth,.dhtmlxcalendar_dhx_black div.planeYear
	{
	height: auto;
	overflow: auto;
}

div.dhtmlxcalendar_dhx_black div.planeYear {
	display: inline;
	width: 28px;
}

.dhtmlxcalendar_dhx_black td.thismonth {
	color: #fff;
	padding: 1px;
}

.dhtmlxcalendar_dhx_black td.othermonth {
	visibility: visible;
	color: #fedb2f;
}

.dhtmlxcalendar_dhx_black td.weekend {
	color: #b1b1b1;
	padding: 1px;
}

.dhtmlxcalendar_dhx_black td.insensitive {
	color: #333;
	cursor: default;
	padding: 1px;
}

.dhtmlxcalendar_dhx_black td.selected {
	background: url(imgs/__dhxCal_skin_Black/cell_select.png) center center
		no-repeat;
	color: white !important;
}

.dhtmlxcalendar_dhx_black td.current {
	font-weight: bold !important;
	color: #fff;
}

.dhtmlxcalendar_dhx_black td.hover {
	border: 1px solid #b5b5b5;
	padding: 0px;
}

.dhtmlxcalendar_dhx_black td.holiday {
	font-weight: bold;
	color: #FF00D4;
}

/* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar_dhx_black {
	background: url(_dhx_black/cal_bg_double.png) no-repeat;
	padding: 0px;
}

.dhtmlxdblcalendar_dhx_black .dhtmlxcalendar {
	background-image: url(imgs/blank.gif);
}

/* end: dhtmlxDblCalendarObject */ /* begin: dhtmlxRichSelector */
.dhtmlxcalendar_dhx_black div.dhtmlxRichSelector {
	position: absolute;
	background-color: #ffffff;
	display: block;
}

.dhtmlxcalendar_dhx_black textarea.dhtmlxRichSelector,.dhtmlxcalendar_dhx_black select.dhtmlxRichSelector
	{
	font-family: verdana;
	position: absolute;
	font-size: 9px;
	overflow: hidden;
	border-width: 0px;
	z-index: 100;
}

.dhtmlxcalendar_dhx_black select.dhtmlxRichSelector {
	border: 1px solid #555555;
}

/* end: dhtmlxRichSelector */ /* end: dhx_black */ /*dhx_blue skin. */
	/*dhx_black skin.*/
.dhtmlxcalendar_dhx_blue {
	background: url(imgs/__dhxCal_skin_Blue/cal_bg_single.gif) no-repeat;
	font-family: Arial;
	z-index: 99;
	height: 173px;
	padding: 14px 10px 0px 8px;
	width: 161px;
}

.dhtmlxcalendar_dhx_blue_mini {
	background: url(imgs/__dhxCal_skin_Blue/cal_bg_single_mini.gif)
		no-repeat;
	height: 25px;
	padding-top: 14px;
	width: 161px;;
}

.dhtmlxcalendar_dhx_blue_maxi {
	background: url(imgs/__dhxCal_skin_Blue/cal_bg_single_maxi.gif)
		no-repeat;
	height: 185px;
}

.dhtmlxcalendar_dhx_blue_ifr,.dhtmlxcalendar_dhx_blue_mini_ifr,.dhtmlxcalendar_dhx_blue_maxi_ifr
	{
	height: 173px;
	width: 179px;
}

.dhtmlxcalendar_dhx_blue_mini_ifr {
	height: 25px;
}

.dhtmlxcalendar_dhx_blue_maxi_ifr {
	height: 185px;
}

.dhtmlxcalendar_dhx_blue_mini .header {
	-moz-user-select: none;
}

.dhtmlxcalendar_dhx_blue .header {
	height: 13px;
	margin-top: -7px;
	margin-bottom: 7px;
	-moz-user-select: none;
}

.dhtmlxcalendar_dhx_blue .winTitle {
	color: #01699E;
	font-size: 12px;
	float: left;
	cursor: move;
	width: 105px;
	margin-top: -2px;
}

.dhtmlxcalendar_dhx_blue .btn,.btn_mini,.btn_close,.btn_today,.btn_clear
	{
	float: right;
	height: 12px;
	width: 13px;
}

.dhtmlxcalendar_dhx_blue .btn_mini {
	background: url(imgs/__dhxCal_skin_Blue/btn_mini.gif) no-repeat;
}

.dhtmlxcalendar_dhx_blue_mini .btn_mini {
	background: url(imgs/__dhxCal_skin_Blue/btn_maxi.gif) no-repeat;
}

.dhtmlxcalendar_dhx_blue .btn_close {
	background: url(imgs/__dhxCal_skin_Blue/btn_close.gif) no-repeat;
}

.dhtmlxcalendar_dhx_blue .btn_today {
	background: url(imgs/__dhxCal_skin_Blue/btn_today.gif) no-repeat;
}

.dhtmlxcalendar_dhx_blue .btn_clear {
	background: url(imgs/__dhxCal_skin_Blue/btn_clear.gif) no-repeat;
}

.dhtmlxcalendar_dhx_blue .entbox {
	width: 161px;
	clear: both;
}

.dhtmlxcalendar_dhx_blue td {
	font-size: 11px;
	font-family: Tahoma;
	text-align: center;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td {
	color: #01699e;
	font-weight: bold;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_left,.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_right
	{
	background: transparent url(imgs/__dhxCal_skin_Blue/cal_arrow_bwd.gif)
		center center no-repeat;
	background-repeat: no-repeat;
	width: 9px;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_right {
	background: transparent url(imgs/__dhxCal_skin_Blue/cal_arrow_fwd.gif)
		center center no-repeat;
}

.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_left span,.dhtmlxcalendar_dhx_blue .dxcalmonth td.month_btn_right span
	{
	visibility: hidden;
}

.dhtmlxcalendar_dhx_blue .dxcaldlabel {
	border-bottom: 1px solid #fff;
	border-top: 0px;
	padding-left: 2px;
	margin-top: 4px;
}

.dhtmlxcalendar_dhx_blue .dxcaldays {
	margin-top: 10px;
}

.dhtmlxcalendar_dhx_blue .dxcaldays_ie {
	width: 161px;
	margin-top: 13px;
}

.dhtmlxcalendar_dhx_blue .dxcaldlabel td {
	color: #5e6366;
}

.dhtmlxcalendar_dhx_blue .dxcaldlabel td,.dhtmlxcalendar_dhx_blue .dxcaldays td,.dhtmlxcalendar_dhx_blue .dxcaldays_ie td
	{
	font-size: 11px;
	font-family: Tahoma;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 17px;
}

.dhtmlxcalendar_dhx_blue .dxcaldays td,.dhtmlxcalendar_dhx_blue .dxcaldays_ie td
	{
	border: 0px;
	cursor: pointer;
	color: #fff;
}

.dhtmlxcalendar_dhx_blue .dxcaldays_ie td {
	height: 15px;
}

.dhtmlxcalendar_dhx_blue td.comma {
	visibility: visible;
	padding-right: 3px;
}

.dhtmlxcalendar_dhx_blue div.planeMonth,.dhtmlxcalendar_dhx_blue div.planeYear
	{
	height: auto;
	overflow: auto;
}

div.dhtmlxcalendar_dhx_blue div.planeYear {
	display: inline;
	width: 28px;
}

.dhtmlxcalendar_dhx_blue td.thismonth {
	color: #919294;
	padding: 1px;
}

.dhtmlxcalendar_dhx_blue td.othermonth {
	visibility: visible;
	color: #73aabe;
}

.dhtmlxcalendar_dhx_blue td.weekend {
	color: #036497;
	padding: 1px;
}

.dhtmlxcalendar_dhx_blue td.insensitive {
	color: #d0d0d0;
	cursor: default;
	padding: 1px;
}

.dhtmlxcalendar_dhx_blue td.selected {
	background: #04648c;
	color: white !important;
	font-weight: bold;
}

.dhtmlxcalendar_dhx_blue td.current {
	font-weight: bold !important;
	color: #919294;
}

.dhtmlxcalendar_dhx_blue td.hover {
	border: 1px solid #b5b5b5;
	padding: 0px;
}

.dhtmlxcalendar_dhx_blue td.holiday {
	font-weight: bold;
	color: #ed3a64;
}

/* begin: dhtmlxDblCalendarObject */
.dhtmlxdblcalendar_dhx_blue {
	background: url(_dhx_blue/cal_bg_double.png) no-repeat;
	padding: 0px;
}

.dhtmlxdblcalendar_dhx_blue .dhtmlxcalendar {
	background-image: url(imgs/blank.gif);
}

/* end: dhtmlxDblCalendarObject */ /* begin: dhtmlxRichSelector */
.dhtmlxcalendar_dhx_blue div.dhtmlxRichSelector {
	position: absolute;
	background-color: #ffffff;
	display: block;
}

.dhtmlxcalendar_dhx_blue textarea.dhtmlxRichSelector,.dhtmlxcalendar_dhx_blue select.dhtmlxRichSelector
	{
	font-family: verdana;
	position: absolute;
	font-size: 9px;
	overflow: hidden;
	border-width: 0px;
	z-index: 100;
}

.dhtmlxcalendar_dhx_blue select.dhtmlxRichSelector {
	border: 1px solid #555555;
}
/* end: dhtmlxRichSelector */ /* end: dhx_blue */