body.edge10{ padding:10px;}
h2{ font:22px/1.414em "Microsoft YaHei","微软雅黑"; color:#0755ab; border-bottom:1px solid #c2c2c2; padding-bottom:10px;}
h4{ font:20px/1.414em "Microsoft YaHei","微软雅黑"; }
p{ line-height:1.414em;}
.h2_bubble{ background:url(images/h2Ico.png) no-repeat 6px 2px; padding-left:38px;}
.imgBorder{ padding:5px; border:1px solid #ccc; background:#fff;}



