<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/ems.logback</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ems-%d{yyyy-MM-dd}.%i.logback</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/console.logback</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/console.%i.logback</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

	<appender name="EXPORTER" class="com.topvision.ems.logger.service.impl.LoggerExporterImpl">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ROLLING" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="EXPORTER" />
    </root>
    <!-- 以下这个必须屏蔽，否则影响wrapper以windows服务启动 -->
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="error">
    </logger>
    <logger name="com.topvision" level="info">
    </logger>
    <logger name="com.topvision.console" level="info">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.eclipse.jetty.server" level="info">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>
