<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:com/conf/jdbc.properties</value>
            </list>
        </property>
    </bean>
    <!-- ========================= RESOURCE DEFINITIONS ========================= -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="jdbcUrl" value="jdbc:oracle:thin:@172.10.10.253:1521:orcl"/>
        <property name="user" value="ems00"/>
        <property name="password" value="ems"/>
    </bean>
    <bean id="jdbcAccessor"
          class="com.topvision.framework.dao.ibatis.SqlMapClientFactoryBean">
        <property name="databaseType" value="oracle"/>
        <property name="configLocation">
            <value>
                classpath:META-INF/spring/sqlMapConfig-oracle.xml
            </value>
        </property>
        <property name="configLocations">
            <list>
                <value>
                    classpath*:/com/topvision/**/sqlMapConfig-*.xml
                </value>
            </list>
        </property>
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>
