.normalInput{width: 300px; height:20px; border: 1px solid #7F9EB9; background: #FFF;}
.number_input{width:35px;height:19px;border:1px solid #7F9DB9}  
.number_input input{width:18px;height:18px;border:0;float:left;outline:none;text-align: center;}  
.number_input span{width:16px;height:18px;margin-top:2px;float:right}  
.number_input span sup,.number_input span sub{width:15px;height:7px;display:block;overflow:hidden;background:#ccc url(/images/report/arr_333.gif)}  
.number_input span sub{background-position:0 -7px;margin-top:1px}  
.number_input span sup.on{background-position:-16px 0}  
.number_input span sub.on{background-position:-16px -7px}